/*=========================VARS=========================*/

/*=========================GENERAL RESET RULES=========================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: block
}